

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="format-detection" content="telephone=no">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">

        
            <title>EightShapes &gt; Design Systems &gt; Components Blog &amp; Other Writing</title>
        

        <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="/dependencies/esds.css"> <!-- copied from esds-library dependency -->
        <link rel="stylesheet" href="/styles/escom.css">
    </head>
    <body class="escom-page-type--marketing">
        







    
    

    
    <div class="esds-row esds-container--brand esds-breadcrumb esds-row--no-inset">
        <div class="esds-row__inner">
            <h1 class="esds-breadcrumb__brand">
                <a href="/" class="esds-breadcrumb__link">
                    
    

    <svg class="esds-icon esds-breadcrumb__brand-mark" >
        
        <use xlink:href="/icons/esds.svg#eightshapes-logo"></use>
    </svg>

                </a>
                
            </h1>
        </div>
    </div>




<div class="esds-row esds-container--white esds-row--tall-inset"
    
    >
    <div class="esds-row__inner">
        
            
    <div class="escom-long-form-text">
        <h2>@components</h2>
        <p class="escom-long-form-text__lead">
            The complete collection of EightShapes writings on design systems, here for free. Follow <a href="https://twitter.com/components">@components</a> on Twitter for updates and new articles.
        </p>
    </div>
    <div class="escom-section-contents__container">
        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Visual Style</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/color-in-design-systems/">
                            Color
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        16 Tips for Setting Up a System That Endures
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/tokens-in-design-systems/">
                            Tokens
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        10 Tips to Architect &amp; Implement Design Decisions for Everyone
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/reference-designs-for-systems/">
                            Reference Designs
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Page Concepts Comparing Before &amp; After, with a System Twist
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/space-in-design-systems/">
                            Space
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        From Basics to Expanded Concepts to Apply Space with Intent
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/light-dark/">
                            Light &amp; Dark Modes
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Model Decisions Across Backgrounds Borders Text and More
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/cropping-away-negative-impacts-of-line-height/">
                            Cropping Line Height
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Getting rid of pesky space above and below HTML text
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/size-in-design-systems/">
                            Size
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Tuning Type &amp; Space With an Eye on Height Per Component
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/typography-in-design-systems/">
                            Typography
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Choose Fonts Set a Hierarchy and Integrate with Components
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">UI Components</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/on-classification-in-design-systems/">
                            Classification
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Recent Trends in Naming Things in Design Libraries
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/right-sizing-the-rectangles/">
                            Decomposition and Hierarchy
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Grappling with Hierarchy for a More Effective Design System
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/buttons-in-design-systems/">
                            Buttons
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        12 Tips for Setting Up a System That Endures
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/component-qa-in-design-systems/">
                            Component QA
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Establish a process to deliver on the quality you promise
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/patterns-components/">
                            UX Patterns vs UI Components
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Our Community, not Companies, Should Build Pattern Libraries
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/and-you-thought-buttons-were-easy/">
                            Why Buttons Aren&#39;t Easy
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Story for Selling a System that Scales
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/cards-and-composability-in-design-systems/">
                            Cards and Composability
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Structure, Content, Style &amp; Behavior of Composed Components
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/component-testing-plans/">
                            Component Testing Plans
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Building a Quality Base, One Criteria at a Time
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/getting-developers-started-with-a-design-system/">
                            Getting Developers Started
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Onboard Step-by-Step So They Build with Confidence
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Documentation</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-doc-components/">
                            Doc Components
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        The Top 8 Reusable Components to Document a Library
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/documenting-components/">
                            Overview
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Serve a System’s Audiences with Well-Architected Content
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/documenting-component-introductions/">
                            Introductions
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Pithy Names and Descriptions That Go a Long Way
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/component-examples/">
                            Examples
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Showcase your component’s quality, depth and versatility
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/component-design-guidelines/">
                            Design Guidelines
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Write the Words and Add the Pictures to Empower Designers
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/authoring-component-documentation/">
                            Authoring
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Model the Content, People, and Steps Involved
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/myths-of-documenting-components/">
                            Myths
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        How to Pivot Misguided Perceptions Towards Reality
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Releases</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/visual-breaking-change-in-design-systems/">
                            Visual Breaking Change
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        We Respect Code APIs. But What About Color, Type and Space?
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-release-cadence/">
                            Cadence
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Modeling How Often and Regularly Your System Delivers
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/releasing-design-systems/">
                            Overview
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Delivering Interconnected Outputs to Adopters Over Time
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/versioning-design-systems/">
                            Versioning
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Communicating Change Clearly to People Using Systems
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/dealing-with-dependencies-inside-design-systems/">
                            Dependencies
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Decomposing Features to Master Change Up the Chain
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Strategy</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/finding-platform-balance-in-a-design-system/">
                            Platform Balance
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Relating Conventions for Web, iOS, and Android
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/a-design-system-s-reach/">
                            Reach
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Levels to Discuss How Broadly a System Applies
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/a-design-system-isn-t-a-project-it-s-a-product-serving-products/">
                            A Product, Serving Products
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Shifting Focus from Design and Development to Managing and Marketing a System
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/principles-of-designing-systems/">
                            Principles
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Core Beliefs to Guide System Strategy and Tactics
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/measuring-design-system-success/">
                            Measuring Success
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Use OKRs to Set Goals &amp; Track Progress
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/adopting-design-systems/">
                            Adoption
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Playbook for Working with Product Teams &amp; Managers
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/defining-design-systems/">
                            Defining
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Getting to the Root of What Your System Really Is
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/accessible-design-systems-dont-guarantee-accessible-products/">
                            Accessibility
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Accessibility is an Adopter’s Job Too, and They’ve Got Work To Do
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Process</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/roadmaps-for-design-systems/">
                            Roadmaps
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Communicate What You’ll Do Next That Teams Can Depend On
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/starting-a-design-system/">
                            Starting a Design System
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        From Pitching a Strategy to Launching 1.0 and Beyond
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-features-step-by-step/">
                            Features, Step by Step
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Workflow to Design, Build and Document Each Part
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/practicing-design-systems/">
                            Building a Practice
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Address How Do I…? Questions to Form Processes That Matter
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/using-jira-for-design-systems/">
                            Using Jira
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Iterate Work with Stories, Epics, Versions, Tasks and More
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-communications/">
                            Communications
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Leveling up a design system’s multi-channel approach to messaging designers, developers and everyone else
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-subtasks-by-step/">
                            Subtasks, by Step
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Decompose Your Workflow into Checklists
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-support/">
                            Support
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Operating a Workflow to Resolve Designer and Developer Needs
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Contributions</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/contributions-to-design-systems/">
                            Contributions
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Opening a Library to a Community’s Code, Design, and More
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/i-made-this-does-it-go-in-the-system/">
                            Contribution Criteria
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        How to Decide What Belongs &amp; Convey Work That Remains
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/why-contributions-matter/">
                            Why Contributions Matter
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        8 Reasons Design Systems Invest in Contributions
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/defining-contributions/">
                            Defining Contributions
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Time to Separate the Small-and-Quick from Larger Things
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/stewarding-design-system-contributions/">
                            Stewarding
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Keep &#39;em on track with what they need, when they need it
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">People</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/team-models-for-scaling-a-design-system/">
                            Team Models
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Evolving Past Overlords to Centralize or Federate Design Decision-Making Across Platforms
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-leader-s-manager-s/">
                            Leaders and Managers
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Job Description for Those That Drive a System
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/designing-a-systems-team/">
                            Designing a Team
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Models and Lessons Learned to Scale a Team for an Enterprise
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Systems of Systems</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/consolidating-design-systems/">
                            Consolidation
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Over time, systems happen.
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-system-tiers/">
                            Tiers
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Time To Mature Systems To Support Levels of Work
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-systems-intermediaries/">
                            Intermediaries
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Relating to the Distributors, Translators, and Themers In Between
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/design-systems-architecture-diagrams/">
                            Architecture Diagrams
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Visual Vocabulary to Relate Systems, Products &amp; Brands
                    </p>
                </li>
    </ul>
</div>


        

<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">Workshop Activities</h4>
    <ul class="escom-section-contents__list"><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/the-component-cut-up-workshop/">
                            Component Cut Up
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Kickoff a Design Library Effort by Engaging the Whole Team
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/picking-parts-products-people/">
                            Parts, Products and People
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        A Team Activity to Start a Design System
                    </p>
                </li><li class="escom-section-contents__item">
                    <h5 class="escom-section-contents__item-title">
                        <a  class="escom-section-contents__item-title-link" href="/articles/how-do-i-practice-cards-activity/">
                            How Do I? Cards
                        </a>
                    </h5>
                    <p class="escom-section-contents__item-deck">
                        Prioritize Processes Your Design System Needs
                    </p>
                </li>
    </ul>
</div>


    </div>


        
    </div>
</div>





    

    

<div class="esds-row esds-row esds-row--tall-inset esds-container--brand escom-cta escom-cta--components-publication"
    
    >
    <div class="esds-row__inner">
        
            
        <div class="escom-long-form-text">
            <h2>Need help with your system?</h2>
            
            <p class="escom-long-form-text__lead">EightShapes can energize your efforts to coach, workshop, assess or partner with you to design, code, document and manage a system.</p>
            
        </div>
        
        <div class="escom-cta__action">
        
    

    <a class="esds-button esds-button--secondary esds-button--large escom-cta__action-button"  href=/design-systems/>
        
        
            Learn More
        
        
    </a>

        </div>
        
    
        
    </div>
</div>



        

    

<div class="esds-row esds-container--dark escom-site-footer esds-row--tall-inset"
    
    >
    <div class="esds-row__inner">
        
            
    
        <div class="escom-site-footer__row">
            <div class="escom-site-footer__column">
                
    

    <svg class="esds-icon escom-site-footer__logo" >
        
        <use xlink:href="/icons/esds.svg#eightshapes-logo"></use>
    </svg>

                <div class"escom-site-footer__address-row">12805 Misty Creek Lane</div> 
                <div class"escom-site-footer__address-row">Fairfax, VA 22033</div>
            </div>
            <div class="escom-site-footer__column escom-site-footer__column--offset">
                <a class="escom-site-footer__link" tel="703.296.8831"> (703) 296-8831</a>
                <a class="escom-site-footer__link" href="mailto:info@eightshapes.com">info@eightshapes.com</a>
            </div>
            <div class="escom-site-footer__column escom-site-footer__column--offset">
                <a class="escom-site-footer__social-link" href="https://twitter.com/eightshapes">
                    
    

    <svg class="esds-icon escom-site-footer__icon escom-site-footer__icon--twitter" >
        
        <use xlink:href="/icons/esds.svg#twitter"></use>
    </svg>
 
                    <span class="escom-site-footer__social-name">@eightshapes</span>
                </a>
                <a class="escom-site-footer__social-link" href="https://www.linkedin.com/company/eightshapes-llc">
                    
    

    <svg class="esds-icon escom-site-footer__icon escom-site-footer__icon--linkedin" >
        
        <use xlink:href="/icons/esds.svg#linkedin"></use>
    </svg>
 
                    <span class="escom-site-footer__social-name">@EightShapes</span>
                </a>
                <a class="escom-site-footer__social-link" href="https://medium.com/eightshapes-llc">
                    
    

    <svg class="esds-icon escom-site-footer__icon escom-site-footer__icon--medium" >
        
        <use xlink:href="/icons/esds.svg#medium"></use>
    </svg>
 
                    <span class="escom-site-footer__social-name">@eightshapes</span>
                </a>
            </div>
        </div>

    
        
    </div>
</div>




        <script src="/scripts/svg4everybody.js"></script>
          <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-1201194-1");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>

        <!-- GENERATED WITH 11ty -->
    </body>
</html>
