/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: RESET                                                       */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
  Fonts
*/
/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: CANVAS                                                      */
html {
  background-color: #ffffff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #cfe5f2;
}

::selection {
  background: #cfe5f2;
}

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: TYPOGRAPHY (i.e. elemental)                                 */
html {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
}

body {
  color: #1c1c1c;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

@media (min-width: 960px) {
  body {
    font-size: 24px;
    line-height: 40px;
  }
}
*[dir=ltr] {
  direction: ltr;
  unicode-bidi: embed;
}

*[dir=rtl] {
  direction: rtl;
  unicode-bidi: embed;
}

bdo[dir=ltr] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

bdo[dir=rtl] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1.is-run-in,
h2.is-run-in,
h3.is-run-in,
h4.is-run-in,
h5.is-run-in,
h6.is-run-in {
  margin-bottom: 0;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 36px;
  margin-top: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    line-height: 80px;
  }
}
h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 8px;
}

@media (min-width: 960px) {
  h2 {
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 24px;
  }
}
h3 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px;
}

@media (min-width: 960px) {
  h3 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}
@media (min-width: 672px) {
  p + h3,
dl + h3,
ol + h3,
.cs-figure + h3,
figure + h3,
ul + h3 {
    margin-top: 72px;
  }
}
h4 {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 8px;
}

@media (min-width: 960px) {
  h4 {
    font-size: 30px;
    line-height: 36px;
  }
}
h5 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px;
}

@media (min-width: 960px) {
  h5 {
    font-size: 24px;
    line-height: 40px;
  }
}
h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

@media (min-width: 768px) {
  h6 {
    font-size: 24px;
    line-height: 40px;
  }
}
p,
pre {
  margin-bottom: 18px;
}

@media (min-width: 960px) {
  p,
pre {
    margin-bottom: 36px;
  }
}
em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bolder;
}

del {
  text-decoration: line-through;
}

label {
  font-weight: bold;
}

mark {
  display: inline;
}

pre,
code,
kbd,
samp,
tt {
  background-color: #e7f2f8;
  border-radius: 4px;
  color: #127fc2;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;
  font-size: 24px;
  line-height: 40px;
  padding: 2px 4px 1px;
}

pre {
  overflow: auto;
  padding: 8px;
}

abbr,
acronym {
  border-bottom: 1px dotted #000000;
  cursor: help;
}

code {
  font-style: normal;
}

thead,
tbody,
tfoot {
  font-size: 100%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a sub,
a sup {
  text-decoration: none;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: #1c1c1c;
}

a:hover {
  color: #555555;
  text-decoration: none;
}

a:active,
a:focus {
  color: black;
  outline: 2px dotted #127fc2;
  text-decoration: underline;
}

a:active {
  outline: 0;
}

[href^="tel:"] {
  white-space: nowrap;
}

.text-url {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: GROUPING ELEMENTS                                           */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

main:focus {
  outline: 0;
}

ul {
  margin: 0 0 18px;
}

@media (min-width: 672px) {
  ul {
    margin-bottom: 36px;
  }
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}

ol {
  margin: 0 0 18px;
}

@media (min-width: 672px) {
  ol {
    margin-bottom: 36px;
  }
}
ol > li {
  list-style: decimal outside;
  margin-left: 24px;
}

[dir=rtl] ol {
  margin-left: 0;
  margin-right: 24px;
}

dl,
dt,
dd {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0 0 18px;
}

@media (min-width: 672px) {
  dl {
    margin-bottom: 36px;
  }
}
dt {
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid #dbdbdb;
  margin: 36px 0;
}

@media (min-width: 960px) {
  hr {
    margin: 72px 0;
  }
}
[hidden],
template {
  display: none;
}

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: MEDIA ELEMENTS                                              */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: TABLE                                                       */
table {
  font-size: inherit;
}

th,
td {
  border: 0;
  padding: 0;
}

th {
  /* Distinguishing table headers from data cells. */
  font-weight: bold;
  text-align: left;
}

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: FORMS (ELEMENTAL)                                           */
optgroup {
  font-weight: normal;
}

button,
textarea,
input {
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  line-height: 1;
}

button.is-block,
textarea.is-block,
input.is-block {
  display: block;
  width: 100%;
}

textarea {
  cursor: text;
}

select {
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

select.is-block {
  display: block;
  width: 100%;
}

select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.cs-media {
  transition: margin 0.23s ease-in-out;
}

@media (min-width: 960px) {
  .cs-media {
    margin-left: -74px;
    margin-right: -74px;
  }
}
@media (min-width: 1260px) {
  .cs-media {
    margin-left: -180px;
    margin-right: -180px;
  }
}
@media (min-width: 1440px) {
  .cs-media {
    margin-left: -220px;
    margin-right: -220px;
  }
}
.cs-container--dark {
  background-color: #777777;
  color: #ffffff;
}

.cs-container--light {
  background-color: #f0f0f0;
  color: inherit;
}

.cs-container--lighter {
  background-color: #fafbfc;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  color: inherit;
}

.cs-container--image {
  background-position: center;
  background-size: cover;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.cs-container_bd {
  border-bottom: 12px solid transparent;
  border-top: 24px solid transparent;
  margin: auto;
  max-width: 800px;
  padding: 0 12px;
  position: relative;
}

@media (min-width: 560px) {
  .cs-container_bd {
    border-top: 36px solid transparent;
  }
}
@media (min-width: 768px) {
  .cs-container_bd {
    border-bottom: 18px solid transparent;
    border-top: 36px solid transparent;
    padding: 0 24px;
  }
}
@media (min-width: 960px) {
  .cs-container_bd {
    border-bottom-width: 28px;
    border-top-width: 72px;
    padding: 12px;
  }
}
.cs-container--flush-bottom .cs-container_bd {
  border-bottom: 0;
}

.cs-container--full .cs-container_bd {
  border: 0;
  max-width: none;
  padding: 0;
}

.list--bullet > li {
  list-style-type: disc;
  margin-bottom: 8px;
  margin-left: 21px;
}

[dir=rtl] .list--bullet > li {
  margin-left: 0;
  margin-right: 18px;
}

.list--inline > li {
  display: inline-block;
  margin-right: 12px;
}

[dir=rtl] .list--inline > li:first-child {
  margin-right: 0;
}

.list--inline > li:last-child {
  margin-right: 0;
}

[dir=rtl] .list--inline > li:last-child {
  margin-right: 12px;
}

.list--ordered > li {
  list-style: decimal outside;
  margin-bottom: 8px;
  margin-left: 36px;
}

@media (min-width: 768px) {
  .block-grid {
    display: flex;
  }
}
@media (min-width: 768px) {
  .block-grid--ml-2-up {
    flex-wrap: wrap;
    margin-right: -36px;
  }
}
@media (min-width: 960px) {
  .block-grid--ml-2-up {
    margin-right: 0;
  }
}
.block-grid_u {
  flex: 1;
}

@media (min-width: 768px) {
  .block-grid_u {
    padding-right: 36px;
  }
}
@media (min-width: 768px) {
  .block-grid--ml-2-up .block-grid_u {
    flex: initial;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .block-grid--ml-2-up .block-grid_u {
    flex: 1;
    padding-right: 36px;
  }

  .block-grid--ml-2-up .block-grid_u:nth-child(even) {
    padding-right: 36px;
  }

  .block-grid--ml-2-up .block-grid_u:last-child {
    padding-right: 0;
  }
}
.cs-text-small {
  font-size: 18px;
  line-height: 30px;
}

.cs-page {
  background-color: #ffffff;
  overflow-x: hidden;
}

@media (min-width: 1260px) {
  .cs-project {
    left: 100%;
    padding-left: 24px;
    padding-right: 12px;
    position: absolute;
    top: 24px;
    width: 220px;
  }
}
.cs-title-label {
  color: #777777;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
}

.cs-title-label--light {
  color: #f0f0f0;
}

.cs-header {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  position: relative;
}

@media (min-width: 672px) {
  .cs-header {
    font-size: 20px;
  }
}
.cs-header_home {
  display: block;
  left: 0;
  padding: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.cs-header_home::before {
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 40px;
  left: 0;
  left: 8px;
  position: absolute;
  top: 0;
  top: 8px;
  width: 40px;
}

@media (min-width: 672px) {
  .cs-header_home::before {
    height: 50px;
    width: 50px;
  }
}
.cs-header_logo {
  display: block;
  height: 24px;
  margin: auto;
}

@media (min-width: 672px) {
  .cs-header_logo {
    height: 35px;
  }
}
.cs-title {
  background-color: #777777;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.cs-title_bd {
  align-items: center;
  display: flex;
  -ms-flex-align: center;
  justify-content: center;
  margin: auto;
  max-width: 800px;
  min-height: 50vh;
  padding: 92px 12px 60px;
}

@media (min-width: 672px) {
  .cs-title_bd {
    padding-top: 60px;
  }
}
.cs-title_text {
  flex: 1;
  margin: 0;
}

.cs-title_alpha {
  display: block;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .cs-title_alpha {
    font-size: 24px;
    line-height: 40px;
  }
}
.cs-title_beta {
  display: block;
}

@media (min-width: 672px) {
  .cs-title_beta {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .cs-title_beta {
    font-size: 48px;
    line-height: 60px;
  }
}
@media (min-width: 960px) {
  .cs-title_beta {
    font-size: 72px;
    line-height: 80px;
  }
}
.cs-summary-list {
  margin-bottom: 12px;
}

@media (min-width: 320px) {
  .cs-summary-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 560px) {
  .cs-summary-list {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1260px) {
  .cs-summary-list {
    display: block;
  }
}
.cs-summary-list_item {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

@media (min-width: 320px) {
  .cs-summary-list_item {
    padding-right: 12px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .cs-summary-list_item {
    flex: 1;
    font-size: 16px;
    line-height: 24px;
    width: auto;
  }
}
@media (min-width: 864px) {
  .cs-summary-list_item {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1260px) {
  .cs-summary-list_item {
    padding: 0;
  }
}
.cs-summary-list_title {
  color: #777777;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

@media (min-width: 672px) {
  .cs-summary-list_title {
    margin-bottom: 8px;
  }
}
.cs-summary-list_dd {
  margin-bottom: 4px;
}

@media (min-width: 672px) {
  .cs-summary-list_dd {
    margin-bottom: 8px;
  }
}
.cs-quote {
  color: #777777;
  margin-bottom: 18px;
}

@media (min-width: 960px) {
  .cs-quote {
    margin-bottom: 36px;
  }
}
.cs-quote--light {
  color: #f0f0f0;
}

.cs-quote_bd {
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
}

@media (min-width: 672px) {
  .cs-quote_bd {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (min-width: 864px) {
  .cs-quote_bd {
    font-size: 48px;
    line-height: 60px;
  }
}
.cs-quote_bd strong {
  font-weight: normal;
}

.cs-quote_cite {
  display: table;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

@media (min-width: 672px) {
  .cs-quote_cite {
    font-size: 18px;
    line-height: 30px;
  }
}
.cs-quote_cite-img,
.cs-quote_cite-text {
  display: table-cell;
  vertical-align: middle;
}

.cs-quote_cite-img {
  padding-right: 12px;
  width: 80px;
}

@media (min-width: 864px) {
  .cs-quote_cite-img {
    width: 120px;
  }
}
.cs-quote_avatar {
  border: 2px solid #ffffff;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
}

.cs-quote_img {
  display: block;
}

.cs-quote_name {
  display: block;
}

.cs-quote_name::before {
  content: "- ";
}

.cs-quote_meta {
  display: block;
}

.cs-finding {
  margin-bottom: 36px;
}

.cs-finding_bd {
  font-size: 18px;
  line-height: 30px;
}

.cs-finding_bd p:empty {
  display: none;
}

.cs-finding_quote-bd {
  background-color: #ffffff;
  font-style: italic;
  padding: 12px;
  position: relative;
}

@media (min-width: 560px) {
  .cs-finding_quote-bd {
    font-size: 18px;
    line-height: 30px;
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .cs-finding_quote-bd {
    font-size: 24px;
    line-height: 40px;
    padding: 12px;
  }
}
@media (min-width: 960px) {
  .cs-finding_quote-bd {
    padding: 24px;
  }
}
.cs-finding_quote-bd::before {
  border-color: #ffffff transparent transparent #ffffff !important;
  border-style: solid;
  border-width: 15px;
  content: "";
  display: none;
  height: 0;
  width: 0;
}

.cs-finding_quote-bd::before {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
}

@media (min-width: 768px) {
  .cs-finding_quote-bd::before {
    display: block;
  }
}
.cs-finding--attributed .cs-finding_quote-bd::before {
  display: block;
}

.cs-finding_cite {
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin-top: 36px;
}

.cs-finding_cite:empty {
  display: none;
}

.cs-figure {
  margin-bottom: 18px;
  text-align: center;
}

@media (min-width: 960px) {
  .cs-figure {
    margin-bottom: 36px;
  }
}
@media (min-width: 672px) {
  .cs-figure--floatie-r {
    float: right;
    margin-left: 24px;
    max-width: 40%;
  }
}
@media (min-width: 1024px) {
  .cs-figure--floatie-r {
    margin-right: -110px;
    max-width: 50%;
  }
}
@media (min-width: 1260px) {
  .cs-figure--floatie-r {
    margin-right: -230px;
    max-width: 60%;
  }
}
.cs-figure--flush-bottom {
  margin: 0 0 -10px;
}

@media (min-width: 960px) {
  .cs-figure--flush-bottom {
    margin: 0 0 -25px;
  }
}
.cs-figure--flush-bottom-dark {
  margin: 0 0 -22px;
}

@media (min-width: 768px) {
  .cs-figure--flush-bottom-dark {
    margin: 0 0 -28px;
  }
}
@media (min-width: 960px) {
  .cs-figure--flush-bottom-dark {
    margin: 0 0 -53px;
  }
}
@media (min-width: 768px) {
  .cs-figure--block-grid p {
    margin: 0;
  }
}
.cs-figure_item {
  display: inline-block;
}

.cs-figure--block .cs-figure_item {
  display: block;
}

.cs-figure_img {
  display: block;
  margin: 0;
  width: 100%;
}

.cs-figure_img + .cs-figure_img {
  margin-top: 24px;
}

.cs-figure--screenshot .cs-figure_img {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.cs-figure--clear .cs-figure_img {
  box-shadow: none;
}

.cs-figure_cap {
  color: #555555;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  text-align: left;
}

.cs-figure_cap:empty {
  display: none;
}

.container--dark .cs-figure_cap {
  color: #ffffff;
}

.cs-figure--flush-bottom .cs-figure_cap {
  display: none;
}

@media (min-width: 768px) {
  .cs-figure--centered .cs-figure_cap {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cs-styletiles {
    display: flex;
    flex-wrap: wrap;
    margin-right: -36px;
  }
}
@media (min-width: 1260px) {
  .cs-styletiles {
    margin-right: 0;
  }
}
.cs-styletiles_item {
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .cs-styletiles_item {
    padding-right: 36px;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .cs-styletiles_item {
    margin-bottom: initial;
  }
}
@media (min-width: 1260px) {
  .cs-styletiles_item {
    flex: 1;
  }

  .cs-styletiles_item:nth-child(even) {
    padding-right: 36px;
  }

  .cs-styletiles_item:last-child {
    padding-right: 0;
  }
}
.cs-styletiles_fig {
  margin-bottom: 12px;
}

@media (min-width: 960px) {
  .cs-styletiles_fig {
    margin-bottom: 24px;
  }
}
.cs-styletiles_hd {
  font-size: 24px;
  line-height: 40px;
}

@media (min-width: 672px) {
  .cs-screenflow {
    display: flex;
  }
}
.cs-screenflow_u {
  flex: 1;
}

@media (min-width: 672px) {
  .cs-screenflow_u {
    margin-right: 80px;
    position: relative;
  }

  .cs-screenflow_u:last-child {
    margin-right: 0;
  }
}
@media (min-width: 672px) {
  .cs-screenflow_u::after {
    background-size: 100%;
    content: "";
    height: 80px;
    margin-top: -40px;
    position: absolute;
    right: -80px;
    top: 50%;
    width: 80px;
  }
}
@media (min-width: 672px) {
  .cs-screenflow_u:last-child::after {
    display: none;
  }
}
@media (min-width: 672px) {
  .cs-screenflow_hd {
    margin-bottom: 24px;
  }
}
.cs-annotated {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.cs-annotated_content {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cs-annotated_u {
  list-style-type: disc;
  margin-left: 21px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.23s ease-in-out;
}

@media (min-width: 768px) {
  .cs-annotated_u {
    list-style-type: none;
    margin-left: 0;
    position: absolute;
    width: 187px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u {
    width: 276px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u {
    width: 256px;
  }
}
@media (min-width: 1440px) {
  .cs-annotated_u {
    width: 296px;
  }
}
.cs-annotated_u::before,
.cs-annotated_u::after {
  content: "";
  position: absolute;
  transition: all 0.23s ease-in-out;
  width: 20px;
}

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility {
    left: -187px;
    padding-right: 60px;
    top: 76px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-legibility {
    left: -276px;
    padding-right: 64px;
    top: 40px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility {
    left: -256px;
  }
}
@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-legibility {
    left: -296px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility::before {
    border: 1px solid #ffffff;
    border-right: 0;
    height: 210px;
    right: 10px;
    top: -4px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-legibility::before {
    top: 30px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility::before {
    height: 342px;
    top: 56px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility::after {
    border-top: 1px solid;
    right: 30px;
    top: 45px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility::after {
    top: 100px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors {
    padding-left: 60px;
    right: -187px;
    top: 76px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors {
    padding-left: 64px;
    right: -276px;
    top: 40px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors {
    right: -256px;
  }
}
@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-colors {
    right: -296px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors::before {
    border: 1px solid #ffffff;
    border-left: 0;
    bottom: -16px;
    left: 10px;
    top: 23px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors::before {
    height: 57px;
    top: 63px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors::before {
    height: 96px;
    top: 107px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors::after {
    border-top: 1px solid;
    left: 30px;
    top: 44px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors::after {
    top: 77px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors::after {
    top: 130px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat {
    padding-left: 60px;
    right: -187px;
    top: 205px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat {
    padding-left: 64px;
    right: -276px;
    top: 255px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-flat {
    right: -256px;
    top: 325px;
  }
}
@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-flat {
    right: -296px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat::before {
    border: 1px solid #ffffff;
    border-left: 0;
    height: 156px;
    left: 10px;
    top: -24px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat::before {
    height: 156px;
    top: -74px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-flat::before {
    height: 285px;
    top: -60px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat::after {
    border-top: 1px solid;
    left: 30px;
    top: 14px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat::after {
    top: 18px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity {
    padding-left: 60px;
    right: -187px;
    top: 355px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity {
    padding-left: 64px;
    right: -276px;
    top: 441px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-severity {
    right: -256px;
    top: 615px;
  }
}
@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-severity {
    right: -296px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity::before {
    border: 1px solid #ffffff;
    border-left: 0;
    height: 200px;
    left: 10px;
    top: 0;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity::before {
    top: -82px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-severity::before {
    height: 330px;
    top: -40px;
  }
}
@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity::after {
    border-top: 1px solid;
    left: 30px;
    top: 43px;
  }
}
@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity::after {
    top: 19px;
  }
}
.cs-annotated_hd {
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .cs-annotated_hd {
    font-size: 24px;
    line-height: 40px;
    line-height: 32px;
  }
}
.cs-annotated_bd {
  display: none;
}

@media (min-width: 960px) {
  .cs-annotated_bd {
    display: block;
  }
}
@media (min-width: 768px) {
  .cs-annotated_figure {
    max-width: 372px;
  }
}
@media (min-width: 1260px) {
  .cs-annotated_figure {
    max-width: 624px;
  }
}
.cs-cta {
  border-top: 1px solid #dbdbdb;
}

.cs-cta_bd {
  border-bottom: 12px solid transparent;
  border-top: 24px solid transparent;
  margin: auto;
  max-width: 800px;
  padding: 0 12px;
}

@media (min-width: 768px) {
  .cs-cta_bd {
    border-bottom: 18px solid transparent;
    border-top: 36px solid transparent;
    padding: 0 24px;
  }
}
@media (min-width: 960px) {
  .cs-cta_bd {
    border-bottom-width: 28px;
    border-top-width: 72px;
    padding: 0 12px;
  }
}
.cs-pagination {
  background: #777777;
}

.cs-pagination_client {
  font-weight: 700;
}

@media (min-width: 560px) {
  .cs-pagination {
    background: #333333 linear-gradient(to right, #333333 0%, #333333 50%, #777777 50%, #777777 100%);
  }
}
.cs-pagination_bd {
  display: flex;
}

@media (min-width: 768px) {
  .cs-pagination_bd {
    margin: auto;
  }
}
@media (min-width: 1260px) {
  .cs-pagination_bd {
    max-width: 1024px;
    max-width: 1174px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .cs-pagination_bd {
    max-width: 1256px;
  }
}
.cs-pagination_item {
  color: #ffffff;
  display: block;
  flex: 1;
  font-size: 24px;
  line-height: 40px;
  line-height: 30px;
  padding: 12px 0;
  position: relative;
  text-decoration: none;
}

.cs-pagination_item:hover {
  color: #ffffff;
}

.cs-pagination_item::before {
  background-size: 100%;
  content: "";
  height: 24px;
  margin-top: -12px;
  opacity: 0.2;
  width: 24px;
}

@media (min-width: 960px) {
  .cs-pagination_item::before {
    height: 48px;
    margin-top: -24px;
    width: 48px;
  }
}
.cs-pagination_item:hover::before {
  opacity: 0.7;
}

@media (min-width: 1260px) {
  .cs-pagination_item::after {
    bottom: 0;
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cs-pagination_item {
    padding: 24px 0;
  }
}
@media (min-width: 960px) {
  .cs-pagination_item {
    font-size: 36px;
    line-height: 48px;
    padding: 40px 0;
  }
}
.cs-pagination_prev {
  display: none;
  padding-left: 62px;
  padding-right: 12px;
}

@media (min-width: 960px) {
  .cs-pagination_prev {
    padding-left: 124px;
  }
}
@media (min-width: 560px) {
  .cs-pagination_prev {
    display: block;
  }
}
.cs-pagination_prev::before {
  left: 20px;
  position: absolute;
  top: 50%;
}

@media (min-width: 1260px) {
  .cs-pagination_prev::after {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 100%;
    top: 0;
  }
}
.cs-pagination_next {
  padding-left: 12px;
  padding-right: 62px;
  text-align: right;
}

@media (min-width: 960px) {
  .cs-pagination_next {
    padding-right: 124px;
  }
}
.cs-pagination_next::before {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: rotate(180deg);
}

.cs-pagination_next:hover::before {
  opacity: 0.7;
}

@media (min-width: 1260px) {
  .cs-pagination_next::after {
    bottom: 0;
    left: 100%;
    position: absolute;
    top: 0;
  }
}
.cs-pagination_project {
  display: block;
}

.cs-tweet {
  text-align: center;
}

.cs-tweet_bd {
  display: inline-block;
  margin-bottom: 24px;
}

.cs-tweet_a {
  display: block;
}

.cs-tweet_img {
  display: block;
}

.cs-container--aact-1 {
  background-color: #006272;
}

.cs-container--aact-2 {
  background-color: #2d4558;
}

.cs-container--aact3 {
  background-color: #1b384b;
}

.h2-aact {
  color: #006272;
}

.cs-container--dark .h2-aact {
  color: #ffffff;
}

.cs-title-label--aact {
  color: #00c7b1;
}

.cs-title-label--aact-light {
  color: #ff6900;
}

.cs-container--fireeye-1 {
  background-color: #2e2d2e;
}

.cs-container--fireeye-2 {
  background-color: #a8000d;
}

.cs-container--fireeye-3 {
  background-color: #283f4c;
}

.h2-fireeye {
  color: #004e74;
}

.cs-container--dark .h2-fireeye {
  color: #ffffff;
}

.cs-container--sonatype-1 {
  background: #a34800 radial-gradient(ellipse at center, #e38840 0%, #a34800 100%);
}

.cs-container--sonatype-2 {
  background: #2476c3;
}

.h2-sonatype {
  color: #336699;
}

.cs-container--dark .h2-sonatype {
  color: #ffffff;
}

.h2-ncarb {
  color: #0099d4;
}

.cs-container--dark .h2-ncarb {
  color: #ffffff;
}

.h2-marriott {
  color: #134f8f;
}

.cs-container--dark .h2-marriott {
  color: #ffffff;
}

.cs-container--marriott-1 {
  background-color: #494949;
}

@media (min-width: 320px) {
  .block-grid--marriott-comparing {
    display: flex;
    flex-wrap: wrap;
  }
}
.block-grid--marriott-comparing .block-grid_u {
  padding: 0 12px;
}

@media (min-width: 320px) {
  .block-grid--marriott-comparing .block-grid_u {
    flex: initial;
    width: 50%;
  }
}
@media (min-width: 560px) {
  .block-grid--marriott-comparing .block-grid_u {
    padding: 0 18px;
    width: 33.3333%;
  }
}
/*////////////////////////////////////////////////////////*/
/*//                                                    //*/
/*//    BREAKPOINT BAR                                  //*/
/*//                                                    //*/
/*////////////////////////////////////////////////////////*/
body::before {
  background: rgba(204, 204, 204, 0.8);
  bottom: 0;
  color: #ffffff;
  content: "default";
  display: none;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  line-height: 1;
  padding: 2px 2px 3px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.is-showing-breakpoints body::before {
  display: block;
}

.breakpoint-debug {
  background: black;
  bottom: 31px;
  color: #999999;
  display: none;
  font-size: 15px;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index: 100;
}

.breakpoint-debug span {
  color: #cccccc;
  display: inline-block;
  padding: 3px 0;
}

.breakpoint-debug span::after {
  content: "|";
  margin: 0 7px 0 12px;
}

.breakpoint-debug strong {
  color: #ffffff;
}

@media (min-width: 240px) {
  body::before {
    background: rgba(51, 153, 102, 0.8);
    content: "XS: 240px - 319px";
  }
}
@media (min-width: 320px) {
  body::before {
    background: rgba(204, 204, 0, 0.8);
    content: "S: 320px - 479px";
  }
}
@media (min-width: 480px) {
  body::before {
    background: rgba(51, 153, 204, 0.8);
    content: "SM: 480px - 559px";
  }
}
@media (min-width: 560px) {
  body::before {
    background: rgba(255, 204, 0, 0.8);
    content: "M: 560px - 671px";
  }
}
@media (min-width: 672px) {
  body::before {
    background: rgba(255, 2, 0, 0.8);
    content: "MML: 672px - 767px";
    padding: 5px;
  }
}
@media (min-width: 768px) {
  body::before {
    background: rgba(51, 102, 0, 0.8);
    content: "ML: 768px - 863px";
  }
}
@media (min-width: 864px) {
  body::before {
    background: rgba(5, 204, 0, 0.8);
    content: "MLL: 864px - 959px";
  }
}
@media (min-width: 960px) {
  body::before {
    background: rgba(204, 102, 0, 0.8);
    content: "L: 960px - 1023px";
  }
}
@media (min-width: 1024px) {
  body::before {
    background: rgba(153, 102, 51, 0.8);
    content: "XL: 1024px - 1259px";
  }
}
@media (min-width: 1260px) {
  body::before {
    background: rgba(0, 153, 204, 0.8);
    content: "XXL: 1260px +";
  }
}
@media (min-width: 1440px) {
  body::before {
    background: #e76822;
    content: "XXXL: 1440px +";
  }
}