/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: RESET                                                       */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block; }

/* 
  Fonts
*/
/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: CANVAS                                                      */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #cfe5f2; }

::selection {
  background: #cfe5f2; }

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: TYPOGRAPHY (i.e. elemental)                                 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
       text-size-adjust: none; }

body {
  color: #1c1c1c;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }

@media (min-width: 960px) {
  body {
    font-size: 24px;
    line-height: 40px; } }

*[dir="ltr"] {
  direction: ltr;
  unicode-bidi: embed; }

*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed; }

bdo[dir="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override; }

bdo[dir="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

h1.is-run-in,
h2.is-run-in,
h3.is-run-in,
h4.is-run-in,
h5.is-run-in,
h6.is-run-in {
  margin-bottom: 0; }

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 36px;
  margin-top: 0; }

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    line-height: 80px; } }

h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 8px; }

@media (min-width: 960px) {
  h2 {
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 24px; } }

h3 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 12px; }

@media (min-width: 960px) {
  h3 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px; } }

@media (min-width: 672px) {
  p + h3,
  dl + h3,
  ol + h3,
  .cs-figure + h3,
  figure + h3,
  ul + h3 {
    margin-top: 72px; } }

h4 {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 8px; }

@media (min-width: 960px) {
  h4 {
    font-size: 30px;
    line-height: 36px; } }

h5 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px; }

@media (min-width: 960px) {
  h5 {
    font-size: 24px;
    line-height: 40px; } }

h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0; }

@media (min-width: 768px) {
  h6 {
    font-size: 24px;
    line-height: 40px; } }

p,
pre {
  margin-bottom: 18px; }

@media (min-width: 960px) {
  p,
  pre {
    margin-bottom: 36px; } }

em,
i {
  font-style: italic; }

strong,
b {
  font-weight: bolder; }

del {
  text-decoration: line-through; }

label {
  font-weight: bold; }

mark {
  display: inline; }

pre,
code,
kbd,
samp,
tt {
  font-size: 24px;
  line-height: 40px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;
  padding: 2px 4px 1px;
  color: #127fc2;
  background-color: #e7f2f8;
  border-radius: 4px; }

pre {
  padding: 8px;
  overflow: auto; }

abbr,
acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

code {
  font-style: normal; }

thead,
tbody,
tfoot {
  font-size: 100%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

a sub,
a sup {
  text-decoration: none; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  color: #1c1c1c; }

a:hover {
  color: #555;
  text-decoration: none; }

a:active,
a:focus {
  text-decoration: underline;
  color: black;
  outline: 2px dotted #127fc2; }

a:active {
  outline: 0px; }

[href^="tel:"] {
  white-space: nowrap; }

.text-url {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.link-more:after {
  content: url(../images/case_studies/i/readmore-btn.png);
  position: relative;
  top: 5px;
  margin-left: 4px; }

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: GROUPING ELEMENTS                                           */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

main:focus {
  outline: 0; }

ul {
  margin: 0 0 18px; }

@media (min-width: 672px) {
  ul {
    margin-bottom: 36px; } }

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  zoom: 1; }

ol {
  margin: 0 0 18px; }

@media (min-width: 672px) {
  ol {
    margin-bottom: 36px; } }

ol > li {
  margin-left: 24px;
  list-style: decimal outside; }

[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 24px; }

dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal; }

dl {
  margin: 0 0 18px; }

@media (min-width: 672px) {
  dl {
    margin-bottom: 36px; } }

dt {
  font-weight: bold; }

hr {
  border: 0;
  border-top: 1px solid #dbdbdb;
  margin: 36px 0; }

@media (min-width: 960px) {
  hr {
    margin: 72px 0; } }

[hidden],
template {
  display: none; }

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: MEDIA ELEMENTS                                              */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  max-width: 100%;
  height: auto;
  width: auto; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: TABLE                                                       */
table {
  font-size: inherit; }

th,
td {
  border: 0;
  padding: 0; }

th {
  /* Distinguishing table headers from data cells. */
  font-weight: bold;
  text-align: left; }

/* ---------------------------------------------------------------------------*/
/* NORMALIZATION: FORMS (ELEMENTAL)                                           */
optgroup {
  font-weight: normal; }

button,
textarea,
input {
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  line-height: 1; }

button.is-block,
textarea.is-block,
input.is-block {
  width: 100%;
  display: block; }

textarea {
  cursor: text; }

select {
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  padding: 0;
  margin: 0; }

select.is-block {
  width: 100%;
  display: block; }

select::-moz-focus-inner {
  border: 0;
  padding: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.cs-media {
  -webkit-transition: margin 0.23s ease-in-out;
  transition: margin 0.23s ease-in-out; }

@media (min-width: 960px) {
  .cs-media {
    margin-left: -74px;
    margin-right: -74px; } }

@media (min-width: 1260px) {
  .cs-media {
    margin-left: -180px;
    margin-right: -180px; } }

@media (min-width: 1440px) {
  .cs-media {
    margin-left: -220px;
    margin-right: -220px; } }

.cs-container--dark {
  background-color: #777;
  color: #fff; }

.cs-container--light {
  background-color: #f0f0f0;
  color: inherit; }

.cs-container--lighter {
  background-color: #fafbfc;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  color: inherit; }

.cs-container--image {
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 1px 0 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 0 0px rgba(0, 0, 0, 0.12); }

.cs-container_bd {
  margin: auto;
  max-width: 800px;
  padding: 0 12px;
  position: relative;
  border-top: 24px solid transparent;
  border-bottom: 12px solid transparent; }

@media (min-width: 560px) {
  .cs-container_bd {
    border-top: 36px solid transparent; } }

@media (min-width: 768px) {
  .cs-container_bd {
    border-top: 36px solid transparent;
    border-bottom: 18px solid transparent;
    padding: 0 24px; } }

@media (min-width: 960px) {
  .cs-container_bd {
    border-top-width: 72px;
    border-bottom-width: 28px;
    padding: 12px; } }

.cs-container--flush-bottom .cs-container_bd {
  border-bottom: 0; }

.cs-container--full .cs-container_bd {
  max-width: none;
  padding: 0;
  border: 0; }

.list--bullet > li {
  list-style-type: disc;
  margin-left: 21px;
  margin-bottom: 8px; }

[dir="rtl"] .list--bullet > li {
  margin-left: 0;
  margin-right: 18px; }

.list--inline > li {
  display: inline-block;
  margin-right: 12px; }

[dir="rtl"] .list--inline > li:first-child {
  margin-right: 0; }

.list--inline > li:last-child {
  margin-right: 0; }

[dir="rtl"] .list--inline > li:last-child {
  margin-right: 12px; }

.list--ordered > li {
  list-style: decimal outside;
  margin-bottom: 8px;
  margin-left: 36px; }

@media (min-width: 768px) {
  .block-grid {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; } }

@media (min-width: 768px) {
  .block-grid--ml-2-up {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -36px; } }

@media (min-width: 960px) {
  .block-grid--ml-2-up {
    margin-right: 0; } }

.block-grid_u {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

@media (min-width: 768px) {
  .block-grid_u {
    padding-right: 36px; } }

@media (min-width: 768px) {
  .block-grid--ml-2-up .block-grid_u {
    -ms-flex: initial;
    -webkit-box-flex: initial;
            flex: initial;
    width: 50%; } }

@media (min-width: 960px) {
  .block-grid--ml-2-up .block-grid_u {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    padding-right: 36px; }
  .block-grid--ml-2-up .block-grid_u:nth-child(even) {
    padding-right: 36px; }
  .block-grid--ml-2-up .block-grid_u:last-child {
    padding-right: 0; } }

.cs-text-small {
  font-size: 18px;
  line-height: 30px; }

.cs-page {
  background-color: #fff;
  overflow-x: hidden; }

@media (min-width: 1260px) {
  .cs-project {
    width: 220px;
    padding-left: 24px;
    padding-right: 12px;
    position: absolute;
    top: 24px;
    left: 100%; } }

.cs-title-label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #777; }

.cs-title-label--light {
  color: #f0f0f0; }

.cs-header {
  color: rgba(255, 255, 255, 0.85);
  position: relative;
  font-size: 16px; }

@media (min-width: 672px) {
  .cs-header {
    font-size: 20px; } }

.cs-header_home {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 16px;
  display: block; }

.cs-header_home:before {
  position: absolute;
  top: 0px;
  left: 0px;
  top: 8px;
  left: 8px;
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../images/case_studies/i/header-back.png);
  background-size: 100%;
  background-repeat: no-repeat; }

@media (min-width: 672px) {
  .cs-header_home:before {
    width: 50px;
    height: 50px; } }

.cs-header_logo {
  display: block;
  margin: auto;
  height: 24px; }

@media (min-width: 672px) {
  .cs-header_logo {
    height: 35px; } }

.cs-title {
  background-color: #777;
  color: #fff;
  background-size: cover;
  background-position: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.cs-title_bd {
  min-height: 50vh;
  margin: auto;
  padding: 92px 12px 60px;
  max-width: 800px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center; }

@media (min-width: 672px) {
  .cs-title_bd {
    padding-top: 60px; } }

.cs-title_text {
  margin: 0;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.cs-title_alpha {
  display: block;
  font-size: 18px;
  line-height: 30px; }

@media (min-width: 768px) {
  .cs-title_alpha {
    font-size: 24px;
    line-height: 40px; } }

.cs-title_beta {
  display: block; }

@media (min-width: 672px) {
  .cs-title_beta {
    font-size: 30px;
    line-height: 36px; } }

@media (min-width: 768px) {
  .cs-title_beta {
    font-size: 48px;
    line-height: 60px; } }

@media (min-width: 960px) {
  .cs-title_beta {
    font-size: 72px;
    line-height: 80px; } }

.cs-summary-list {
  margin-bottom: 12px; }

@media (min-width: 320px) {
  .cs-summary-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (min-width: 560px) {
  .cs-summary-list {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }

@media (min-width: 1260px) {
  .cs-summary-list {
    display: block; } }

.cs-summary-list_item {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 320px) {
  .cs-summary-list_item {
    width: 50%;
    padding-right: 12px; } }

@media (min-width: 768px) {
  .cs-summary-list_item {
    font-size: 16px;
    line-height: 24px;
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    width: auto; } }

@media (min-width: 864px) {
  .cs-summary-list_item {
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 1260px) {
  .cs-summary-list_item {
    padding: 0; } }

.cs-summary-list_title {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: #777; }

@media (min-width: 672px) {
  .cs-summary-list_title {
    margin-bottom: 8px; } }

.cs-summary-list_dd {
  margin-bottom: 4px; }

@media (min-width: 672px) {
  .cs-summary-list_dd {
    margin-bottom: 8px; } }

.cs-quote {
  color: #777;
  margin-bottom: 18px; }

@media (min-width: 960px) {
  .cs-quote {
    margin-bottom: 36px; } }

.cs-quote--light {
  color: #f0f0f0; }

.cs-quote_bd {
  font-size: 24px;
  line-height: 40px;
  font-style: italic; }

@media (min-width: 672px) {
  .cs-quote_bd {
    font-size: 30px;
    line-height: 36px; } }

@media (min-width: 864px) {
  .cs-quote_bd {
    font-size: 48px;
    line-height: 60px; } }

.cs-quote_bd strong {
  font-weight: normal; }

.cs-quote_cite {
  font-size: 16px;
  line-height: 24px;
  display: table;
  width: 100%; }

@media (min-width: 672px) {
  .cs-quote_cite {
    font-size: 18px;
    line-height: 30px; } }

.cs-quote_cite-img,
.cs-quote_cite-text {
  display: table-cell;
  vertical-align: middle; }

.cs-quote_cite-img {
  width: 80px;
  padding-right: 12px; }

@media (min-width: 864px) {
  .cs-quote_cite-img {
    width: 120px; } }

.cs-quote_avatar {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #fff; }

.cs-quote_img {
  display: block; }

.cs-quote_name {
  display: block; }

.cs-quote_name:before {
  content: '- '; }

.cs-quote_meta {
  display: block; }

.cs-finding {
  margin-bottom: 36px; }

.cs-finding_bd {
  font-size: 18px;
  line-height: 30px; }

.cs-finding_bd p:empty {
  display: none; }

.cs-finding_quote-bd {
  font-style: italic;
  background-color: #fff;
  padding: 12px;
  position: relative; }

@media (min-width: 560px) {
  .cs-finding_quote-bd {
    padding: 24px;
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 768px) {
  .cs-finding_quote-bd {
    padding: 12px;
    font-size: 24px;
    line-height: 40px; } }

@media (min-width: 960px) {
  .cs-finding_quote-bd {
    padding: 24px; } }

.cs-finding_quote-bd:before {
  content: '';
  display: none;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: #fff transparent transparent #fff !important; }

.cs-finding_quote-bd:before {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px; }

@media (min-width: 768px) {
  .cs-finding_quote-bd:before {
    display: block; } }

.cs-finding--attributed .cs-finding_quote-bd:before {
  display: block; }

.cs-finding_cite {
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin-top: 36px; }

.cs-finding_cite:empty {
  display: none; }

.cs-figure {
  margin-bottom: 18px;
  text-align: center; }

@media (min-width: 960px) {
  .cs-figure {
    margin-bottom: 36px; } }

@media (min-width: 672px) {
  .cs-figure--floatie-r {
    float: right;
    margin-left: 24px;
    max-width: 40%; } }

@media (min-width: 1024px) {
  .cs-figure--floatie-r {
    max-width: 50%;
    margin-right: -110px; } }

@media (min-width: 1260px) {
  .cs-figure--floatie-r {
    max-width: 60%;
    margin-right: -230px; } }

.cs-figure--flush-bottom {
  margin: 0 0 -10px; }

@media (min-width: 960px) {
  .cs-figure--flush-bottom {
    margin: 0 0 -25px; } }

.cs-figure--flush-bottom-dark {
  margin: 0 0 -22px; }

@media (min-width: 768px) {
  .cs-figure--flush-bottom-dark {
    margin: 0 0 -28px; } }

@media (min-width: 960px) {
  .cs-figure--flush-bottom-dark {
    margin: 0 0 -53px; } }

@media (min-width: 768px) {
  .cs-figure--block-grid p {
    margin: 0; } }

.cs-figure_item {
  display: inline-block; }

.cs-figure--block .cs-figure_item {
  display: block; }

.cs-figure_img {
  display: block;
  margin: 0;
  width: 100%; }

.cs-figure_img + .cs-figure_img {
  margin-top: 24px; }

.cs-figure--screenshot .cs-figure_img {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); }

.cs-figure--clear .cs-figure_img {
  -webkit-box-shadow: none;
          box-shadow: none; }

.cs-figure_cap {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  color: #555;
  text-align: left; }

.cs-figure_cap:empty {
  display: none; }

.container--dark .cs-figure_cap {
  color: #fff; }

.cs-figure--flush-bottom .cs-figure_cap {
  display: none; }

@media (min-width: 768px) {
  .cs-figure--centered .cs-figure_cap {
    text-align: center; } }

@media (min-width: 768px) {
  .cs-styletiles {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -36px; } }

@media (min-width: 1260px) {
  .cs-styletiles {
    margin-right: 0; } }

.cs-styletiles_item {
  margin-bottom: 36px; }

@media (min-width: 768px) {
  .cs-styletiles_item {
    padding-right: 36px;
    width: 50%; } }

@media (min-width: 960px) {
  .cs-styletiles_item {
    margin-bottom: initial; } }

@media (min-width: 1260px) {
  .cs-styletiles_item {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1; }
  .cs-styletiles_item:nth-child(even) {
    padding-right: 36px; }
  .cs-styletiles_item:last-child {
    padding-right: 0; } }

.cs-styletiles_fig {
  margin-bottom: 12px; }

@media (min-width: 960px) {
  .cs-styletiles_fig {
    margin-bottom: 24px; } }

.cs-styletiles_hd {
  font-size: 24px;
  line-height: 40px; }

@media (min-width: 672px) {
  .cs-screenflow {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; } }

.cs-screenflow_u {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

@media (min-width: 672px) {
  .cs-screenflow_u {
    margin-right: 80px;
    position: relative; }
  .cs-screenflow_u:last-child {
    margin-right: 0; } }

@media (min-width: 672px) {
  .cs-screenflow_u:after {
    position: absolute;
    top: 50%;
    right: -80px;
    margin-top: -40px;
    content: '';
    width: 80px;
    height: 80px;
    background: url(../images/case_studies/i/screenflow_arrow.png) no-repeat;
    background-size: 100%; } }

@media (min-width: 672px) {
  .cs-screenflow_u:last-child:after {
    display: none; } }

@media (min-width: 672px) {
  .cs-screenflow_hd {
    margin-bottom: 24px; } }

.cs-annotated {
  font-size: 18px;
  line-height: 30px;
  text-align: center; }

.cs-annotated_content {
  display: inline-block;
  position: relative;
  text-align: left; }

.cs-annotated_u {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
  list-style-type: disc;
  margin-left: 21px; }

@media (min-width: 768px) {
  .cs-annotated_u {
    position: absolute;
    width: 187px;
    list-style-type: none;
    margin-left: 0; } }

@media (min-width: 960px) {
  .cs-annotated_u {
    width: 276px; } }

@media (min-width: 1260px) {
  .cs-annotated_u {
    width: 256px; } }

@media (min-width: 1440px) {
  .cs-annotated_u {
    width: 296px; } }

.cs-annotated_u:before,
.cs-annotated_u:after {
  content: '';
  width: 20px;
  position: absolute;
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out; }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility {
    top: 76px;
    left: -187px;
    padding-right: 60px; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-legibility {
    top: 40px;
    left: -276px;
    padding-right: 64px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility {
    left: -256px; } }

@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-legibility {
    left: -296px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility:before {
    top: -4px;
    right: 10px;
    height: 210px;
    border: 1px solid #fff;
    border-right: 0; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-legibility:before {
    top: 30px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility:before {
    top: 56px;
    height: 342px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-legibility:after {
    top: 45px;
    right: 30px;
    border-top: 1px solid; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-legibility:after {
    top: 100px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors {
    top: 76px;
    right: -187px;
    padding-left: 60px; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors {
    top: 40px;
    right: -276px;
    padding-left: 64px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors {
    right: -256px; } }

@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-colors {
    right: -296px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors:before {
    top: 23px;
    left: 10px;
    bottom: -16px;
    border: 1px solid #fff;
    border-left: 0; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors:before {
    top: 63px;
    height: 57px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors:before {
    top: 107px;
    height: 96px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-colors:after {
    top: 44px;
    left: 30px;
    border-top: 1px solid; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-colors:after {
    top: 77px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-colors:after {
    top: 130px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat {
    top: 205px;
    right: -187px;
    padding-left: 60px; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat {
    top: 255px;
    right: -276px;
    padding-left: 64px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-flat {
    top: 325px;
    right: -256px; } }

@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-flat {
    right: -296px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat:before {
    top: -24px;
    left: 10px;
    height: 156px;
    border: 1px solid #fff;
    border-left: 0; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat:before {
    top: -74px;
    height: 156px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-flat:before {
    top: -60px;
    height: 285px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-flat:after {
    top: 14px;
    left: 30px;
    border-top: 1px solid; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-flat:after {
    top: 18px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity {
    top: 355px;
    right: -187px;
    padding-left: 60px; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity {
    top: 441px;
    right: -276px;
    padding-left: 64px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-severity {
    right: -256px;
    top: 615px; } }

@media (min-width: 1440px) {
  .cs-annotated_u--sonatype-severity {
    right: -296px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity:before {
    top: 0px;
    left: 10px;
    height: 200px;
    border: 1px solid #fff;
    border-left: 0; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity:before {
    top: -82px; } }

@media (min-width: 1260px) {
  .cs-annotated_u--sonatype-severity:before {
    top: -40px;
    height: 330px; } }

@media (min-width: 768px) {
  .cs-annotated_u--sonatype-severity:after {
    top: 43px;
    left: 30px;
    border-top: 1px solid; } }

@media (min-width: 960px) {
  .cs-annotated_u--sonatype-severity:after {
    top: 19px; } }

.cs-annotated_hd {
  font-size: 18px;
  line-height: 30px; }

@media (min-width: 768px) {
  .cs-annotated_hd {
    font-size: 24px;
    line-height: 40px;
    line-height: 32px; } }

.cs-annotated_bd {
  display: none; }

@media (min-width: 960px) {
  .cs-annotated_bd {
    display: block; } }

@media (min-width: 768px) {
  .cs-annotated_figure {
    max-width: 372px; } }

@media (min-width: 1260px) {
  .cs-annotated_figure {
    max-width: 624px; } }

.cs-cta {
  border-top: 1px solid #dbdbdb; }

.cs-cta_bd {
  margin: auto;
  max-width: 800px;
  padding: 0 12px;
  border-top: 24px solid transparent;
  border-bottom: 12px solid transparent; }

@media (min-width: 768px) {
  .cs-cta_bd {
    border-top: 36px solid transparent;
    border-bottom: 18px solid transparent;
    padding: 0 24px; } }

@media (min-width: 960px) {
  .cs-cta_bd {
    border-top-width: 72px;
    border-bottom-width: 28px;
    padding: 0 12px; } }

.cs-pagination {
  background: #777; }

.cs-pagination_client {
  font-weight: 700; }

@media (min-width: 560px) {
  .cs-pagination {
    background: #333 -webkit-gradient(linear, left top, right top, from(#333), color-stop(50%, #333), color-stop(50%, #777), to(#777));
    background: #333 linear-gradient(to right, #333 0%, #333 50%, #777 50%, #777 100%); } }

.cs-pagination_bd {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

@media (min-width: 768px) {
  .cs-pagination_bd {
    margin: auto; } }

@media (min-width: 1260px) {
  .cs-pagination_bd {
    padding: 0;
    max-width: 1024px;
    max-width: 1174px; } }

@media (min-width: 1440px) {
  .cs-pagination_bd {
    max-width: 1256px; } }

.cs-pagination_item {
  position: relative;
  font-size: 24px;
  line-height: 40px;
  line-height: 30px;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 12px 0;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.cs-pagination_item:hover {
  color: #fff; }

.cs-pagination_item:before {
  content: '';
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background: url(../images/case_studies/i/pagination_arrow.png) no-repeat center;
  background-size: 100%;
  opacity: .2; }

@media (min-width: 960px) {
  .cs-pagination_item:before {
    width: 48px;
    height: 48px;
    margin-top: -24px; } }

.cs-pagination_item:hover:before {
  opacity: .7; }

@media (min-width: 1260px) {
  .cs-pagination_item:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100%;
    width: 100%;
    content: ''; } }

@media (min-width: 768px) {
  .cs-pagination_item {
    padding: 24px 0; } }

@media (min-width: 960px) {
  .cs-pagination_item {
    font-size: 36px;
    line-height: 48px;
    padding: 40px 0; } }

.cs-pagination_prev {
  padding-right: 12px;
  padding-left: 62px;
  display: none; }

@media (min-width: 960px) {
  .cs-pagination_prev {
    padding-left: 124px; } }

@media (min-width: 560px) {
  .cs-pagination_prev {
    display: block; } }

.cs-pagination_prev:before {
  position: absolute;
  top: 50%;
  left: 20px; }

@media (min-width: 1260px) {
  .cs-pagination_prev:after {
    position: absolute;
    top: 0px;
    right: 100%;
    bottom: 0px;
    left: auto; } }

.cs-pagination_next {
  padding-left: 12px;
  padding-right: 62px;
  text-align: right; }

@media (min-width: 960px) {
  .cs-pagination_next {
    padding-right: 124px; } }

.cs-pagination_next:before {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.cs-pagination_next:hover:before {
  opacity: .7; }

@media (min-width: 1260px) {
  .cs-pagination_next:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100%; } }

.cs-pagination_project {
  display: block; }

.cs-tweet {
  text-align: center; }

.cs-tweet_bd {
  display: inline-block;
  margin-bottom: 24px; }

.cs-tweet_a {
  display: block; }

.cs-tweet_img {
  display: block; }

.cs-container--aact-1 {
  background-color: #006272; }

.cs-container--aact-2 {
  background-color: #2d4558; }

.cs-container--aact3 {
  background-color: #1b384b; }

.h2-aact {
  color: #006272; }

.cs-container--dark .h2-aact {
  color: #fff; }

.cs-title-label--aact {
  color: #00c7b1; }

.cs-title-label--aact-light {
  color: #ff6900; }

.cs-container--fireeye-1 {
  background-color: #2e2d2e; }

.cs-container--fireeye-2 {
  background-color: #a8000d; }

.cs-container--fireeye-3 {
  background-color: #283f4c; }

.h2-fireeye {
  color: #004e74; }

.cs-container--dark .h2-fireeye {
  color: #fff; }

.cs-container--sonatype-1 {
  background: #a34800 radial-gradient(ellipse at center, #e38840 0%, #a34800 100%); }

.cs-container--sonatype-2 {
  background: #2476c3; }

.h2-sonatype {
  color: #369; }

.cs-container--dark .h2-sonatype {
  color: #fff; }

.h2-ncarb {
  color: #0099d4; }

.cs-container--dark .h2-ncarb {
  color: #fff; }

.h2-marriott {
  color: #134f8f; }

.cs-container--dark .h2-marriott {
  color: #fff; }

.cs-container--marriott-1 {
  background-color: #494949; }

@media (min-width: 320px) {
  .block-grid--marriott-comparing {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.block-grid--marriott-comparing .block-grid_u {
  padding: 0 12px; }

@media (min-width: 320px) {
  .block-grid--marriott-comparing .block-grid_u {
    -ms-flex: initial;
    -webkit-box-flex: initial;
            flex: initial;
    width: 50%; } }

@media (min-width: 560px) {
  .block-grid--marriott-comparing .block-grid_u {
    width: 33.3333%;
    padding: 0 18px; } }

/*////////////////////////////////////////////////////////*/
/*//                                                    //*/
/*//    BREAKPOINT BAR                                  //*/
/*//                                                    //*/
/*////////////////////////////////////////////////////////*/
body::before {
  display: none;
  font-weight: bold;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  content: "default";
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: rgba(204, 204, 204, 0.8);
  padding: 2px 2px 3px;
  font-size: 15px;
  line-height: 1; }

.is-showing-breakpoints body::before {
  display: block; }

.breakpoint-debug {
  display: none;
  position: fixed;
  bottom: 31px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 5px;
  color: #999;
  background: black;
  font-size: 15px; }

.breakpoint-debug span {
  color: #ccc;
  display: inline-block;
  padding: 3px 0; }

.breakpoint-debug span:after {
  content: "|";
  margin: 0 7px 0 12px; }

.breakpoint-debug strong {
  color: #fff; }

@media (min-width: 240px) {
  body::before {
    content: "XS: 240px - 319px";
    background: rgba(51, 153, 102, 0.8); } }

@media (min-width: 320px) {
  body::before {
    content: "S: 320px - 479px";
    background: rgba(204, 204, 0, 0.8); } }

@media (min-width: 480px) {
  body::before {
    content: "SM: 480px - 559px";
    background: rgba(51, 153, 204, 0.8); } }

@media (min-width: 560px) {
  body::before {
    content: "M: 560px - 671px";
    background: rgba(255, 204, 0, 0.8); } }

@media (min-width: 672px) {
  body::before {
    content: "MML: 672px - 767px";
    background: rgba(255, 2, 0, 0.8);
    padding: 5px; } }

@media (min-width: 768px) {
  body::before {
    content: "ML: 768px - 863px";
    background: rgba(51, 102, 0, 0.8); } }

@media (min-width: 864px) {
  body::before {
    content: "MLL: 864px - 959px";
    background: rgba(5, 204, 0, 0.8); } }

@media (min-width: 960px) {
  body::before {
    content: "L: 960px - 1023px";
    background: rgba(204, 102, 0, 0.8); } }

@media (min-width: 1024px) {
  body::before {
    content: "XL: 1024px - 1259px";
    background: rgba(153, 102, 51, 0.8); } }

@media (min-width: 1260px) {
  body::before {
    content: "XXL: 1260px +";
    background: rgba(0, 153, 204, 0.8); } }

@media (min-width: 1440px) {
  body::before {
    content: "XXXL: 1440px +";
    background: #e76822; } }
